/* trending-warzone */

.trending-warzone-main .reviews-rating-stars svg {
  width: 30px;
  height: 30px;
}

.countdown-timer {
  font-size: 30px;
}

@media (max-width:375px) {
  .countdown-timer {
    font-size: 24px;
  }
}

.war-rating-card {
  width: 75%;
}

/* Category */

.category-main .hero-swiper {
  position: relative;
}

.category-main .hero-swiper .swiper .swiper-button-next,
.category-main .hero-swiper .swiper .swiper-button-prev {
  margin: 0 20px;
  height: fit-content !important;
  aspect-ratio: 1;
  position: absolute;
  top: 50% !important;
  transform: translateY(-50%) !important;
  background-color: #011d2b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-main .hero-swiper .swiper .swiper-button-next:after,
.category-main .hero-swiper .swiper .swiper-button-prev:after {
  font-size: 24px;
  background-color: transparent;
  border-radius: 50%;
  margin: 0;
}

.category-main .common-swipers .swiper {
  position: relative;
}

.category-main .common-swipers .swiper-pagination-bullet {
  display: inline-block !important;
  width: 16px;
  height: 16px;
  background-color: #dbdbdb;
  border-radius: 100%;
  opacity: 1;
}

.category-main .common-swipers .swiper-pagination-bullet-active {
  background-color: #011d2b;
}

.category-main .common-swipers .swiper .swiper-button-prev::after,
.category-main .common-swipers .swiper .swiper-button-next::after {
  display: none;
}

.category-main .common-swipers .swiper .swiper-button-prev,
.category-main .common-swipers .swiper .swiper-button-next {
  margin-top: 0 !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  opacity: 1;
  padding: 0;
  border-radius: 0;
  margin: 0;
}

.category-main .common-swipers .swiper .swiper-button-prev {
  left: 0;
  background: linear-gradient(-270.55deg,
      #00273a 13%,
      rgba(1, 21, 31, 0.729967) 30%,
      rgba(0, 7, 11, 0.258519) 60%,
      rgba(0, 6, 8, 0.195375) 69%,
      rgba(0, 0, 0, 0) 120%);
}

.category-main .common-swipers .swiper .swiper-button-next {
  right: 12px;
  background: linear-gradient(270.55deg,
      #00273a 13%,
      rgba(1, 21, 31, 0.729967) 30%,
      rgba(0, 7, 11, 0.258519) 60%,
      rgba(0, 6, 8, 0.195375) 69%,
      rgba(0, 0, 0, 0) 120%);
}

.category-main .common-swipers .swiper .swiper-button-prev::before,
.category-main .common-swipers .swiper .swiper-button-next::before {
  content: url(./images/arrow.png);
}

.category-main .common-swipers .swiper .swiper-button-prev::before {
  rotate: 180deg;
}

.category-main .common-swipers .swiper .swiper-button-disabled {
  display: none !important;
}

.category-main .common-swipers .top-main {
  max-height: 300px;
}

/* Content Creators */

.content-creator-main .toggle {
  display: flex;
  width: fit-content;
  position: relative;
  overflow: hidden;
  max-width: 300px;
}

.content-creator-main .toggle input[type="checkbox"] {
  display: flex;
  gap: 25px;
  position: relative;
  appearance: none;
  /* max-width: 333px; */
  height: 50px;
  background-color: #fee6d9;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s;
}

.content-creator-main .toggle input[type="checkbox"]::after {
  position: absolute;
  content: "";
  left: 10px;
  top: 50%;
  width: 30%;
  height: 80%;
  background-color: #fc9357;
  border-radius: 50px;
  transform: translateY(-50%);
  transition: all 0.4s;
}

.content-creator-main .toggle input:checked::after {
  width: 60%;
}

.content-creator-main .toggle input:checked[type="checkbox"]::after {
  left: calc(39% - 5px);
}

.content-creator-main .toggle label {
  position: absolute;
  pointer-events: none;
  color: #fff;
  transition: all 0.4s;
}

.content-creator-main .toggle input~label.l {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.content-creator-main .toggle input~label.r {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.content-creator-main .toggle input:checked~label.r {
  color: white;
}

.content-creator-main .toggle input:not(:checked)~label.l {
  color: white;
}

.content-creator-main .grid-main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.content-creator-main .grid-main .item {
  width: calc(25% - 20px);
  border: 1px solid #011d2b;
  border-radius: 10px;
}



@media (max-width: 767px) {
  .content-creator-main .grid-main {
    justify-content: center;
  }
}

@media (max-width:375px) {
  .content-creator-main .grid-main .item {
    min-width: 250px;
  }

  .contentcreator-img-main {
    height: 250px;
  }

  .contentcreator-img-main img {
    height: 250px;
  }
}



/* Content Creator Model */

.content-creator-model {
  max-width: 50% !important;
}

/* .levels input[type=radio] {
  display: none;
} */

.levels label {
  cursor: pointer;
}

.levels input:checked+label {
  color: white !important;
  background-color: #5f56c6 !important;
}

@media (max-width: 991px) {
  .content-creator-model {
    max-width: 90% !important;
  }
}

@media (max-width: 575px) {
  .content-creator-model {
    max-width: 100% !important;
  }
}

@media (max-width:375px) {
  .content-creator-main .toggle input[type="checkbox"] {
    max-width: 250px;
  }

  .content-creator-main .toggle input~label.l,
  .content-creator-main .toggle input~label.r {
    font-size: 12px;
  }
}

/* Content Creator Model */

/* New Design */
.newdesign-main .swiper-pagination-bullet {
  display: inline-block !important;
  width: 15px;
  height: 15px;
  border: 1px solid #011d2b !important;
  background-color: transparent !important;
  opacity: 1 !important;
}

.newdesign-main .swiper-pagination-bullet-active {
  background-color: #011d2b !important;
}

.newdesign-main .trending_warzone_swiper .swiper-button-prev,
.newdesign-main .trending_warzone_swiper .swiper-button-next {
  width: 60px !important;
  height: 60px !important;
  left: 50% !important;
  transform: translateX(-50%);
  background-color: #011d2b;
  border: 2px solid #011d2b !important;
  border-radius: 100%;
  opacity: 1 !important;
  transition: all ease-in-out 200ms;
}

.newdesign-main .trending_warzone_swiper .swiper-button-prev::after,
.newdesign-main .trending_warzone_swiper .swiper-button-next::after {
  font-size: 20px !important;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.newdesign-main .trending_warzone_swiper .swiper-button-prev {
  margin-right: 15px;
}

.newdesign-main .trending_warzone_swiper .swiper-button-next {
  margin-left: 15px;
}

.newdesign-main .trending_warzone_swiper .swiper-button-disabled {
  background-color: transparent;
}

.newdesign-main .trending_warzone_swiper .swiper-button-disabled::after {
  color: #011d2b;
}

.newdesign-main .imgCol {
  height: 300px;
}

.newdesign-main .feature_content_swiper_prev,
.newdesign-main .feature_content_swiper_next {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #011d2b;
  border-radius: 100%;
  border: 2px solid #011d2b;
}

.newdesign-main .feature_content_swiper_next::after,
.newdesign-main .feature_content_swiper_prev::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 600;
  font-family: "swiper-icons";
  color: white;
  cursor: pointer;
}

.newdesign-main .feature_content_swiper_prev::after {
  content: "prev";
}

.newdesign-main .feature_content_swiper_next::after {
  content: "next";
}

.newdesign-main .feature_content_swiper_button-disabled {
  background-color: transparent;
}

.newdesign-main .feature_content_swiper_button-disabled::after {
  color: #011d2b;
}

.walk-through {
  color: #6e757c;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

.walk-through span {
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #579aff;
}

/* New Design */

.linkCloseBtn {
  right: 10px;
  position: absolute;
  bottom: 6px;
}

/* DROPDOWN CSS */

.dropdown {
  z-index: 99999999999;
}

/* DROPDOWN CSS */

/* Hero  */

.hero-heading {
  font-size: 69px;
}

.hero-subheading {
  font-size: 45px;
}

@media (max-width:1400px) {
  .hero-heading {
    font-size: 40px;
  }

  .hero-subheading {
    font-size: 25px;
  }
  
}
@media (max-width:1024px) {
  .btn-sn-hover{
    bottom:15% !important;
  }
}
@media (max-width:575px) {
  .btn-sn-hover{
    font-size:12px !important;
    padding: 5px 10px !important;
    bottom:10% !important;
  }
  .hero-heading {
    font-size: 30px;
  }

  .hero-subheading {
    font-size: 20px;
  }
  .newdesign-main .hero-swiper .swiper .swiper-button-next,
  .newdesign-main .hero-swiper .swiper .swiper-button-prev{
    height:25px !important;
    width:25px !important;
    padding:0 !important;
  }
  .newdesign-main .hero-swiper .swiper .swiper-button-next:after,
  .newdesign-main .hero-swiper .swiper .swiper-button-prev:after {
    font-size:10px !important ;
  }
  .newdesign-main .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}


.btn-sn-hover:hover {
  background-color: #00273a !important;
  /* font-size:24px; */
}

/* Hero  */



.ct_box_shadow{
  box-shadow: 2px 2px 4px rgba(186, 198, 207, 0.55);
}

.ct_if_asrto{
  aspect-ratio: 16/9 !important;
}

.ct_slider_w{
  width: 49% !important;
}

.newdesign-main .hero-swiper {
  position: relative;
}

.newdesign-main .hero-swiper .swiper .swiper-button-next,
.newdesign-main .hero-swiper .swiper .swiper-button-prev {
  margin: 0 20px;
  height: fit-content !important;
  aspect-ratio: 1;
  position: absolute;
  top: 50% !important;
  transform: translateY(-50%) !important;
  background-color: #011d2b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newdesign-main .hero-swiper .swiper .swiper-button-next:after,
.newdesign-main .hero-swiper .swiper .swiper-button-prev:after {
  font-size: 24px;
  background-color: transparent;
  border-radius: 50%;
  margin: 0;
}


.CloseIconSearch{
  height: 35px;
  width: 35px;
  font-size:17px;
  font-weight:600;
  border-color:#fca878;
  color:#fca878;
  transition:all 0.5s
}

.CloseIconSearch:hover{
  background-color:#fca878;
  color:#fff;
}